.body {
    font-family: 'Roboto', sans-serif;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.nav-link {
    color:rgba(0, 0, 0, 0.5) !important;
    font-size: 12px !important;
}

.nav-link:hover {
    color: var(--bs-nav-link-hover-color) !important;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.card-body {
    padding: 20px;
}

.form-label {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.row.mb-3 {
    margin-bottom: 10px !important;
}

p {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.tab-content {
    padding-top: 10px;
}

.tox-statusbar__branding{
    display:none !important;
}

.small {
    font-size: 0.8rem !important;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.6em !important;
    margin: 0 5px;
    font-size: 65% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.375rem !important;
}

.coluna .fas {

    font-size: 10px;
}


.bg-success {
    background-color: #28a745 !important;
}

.text-light {
    color: #f8f9fa !important;
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 20% !important;
        padding: 0 15px;
    }
}
